<!DOCTYPE html>
<html lang= "es">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/admin/admin-main.css">
    <link rel="icon" type="image/jpeg" href="/images/metamapa.jpeg">
    <script src="https://unpkg.com/htmx.org@2.0.2" integrity="sha384-Y7hw+L/jvKeWIRRkqWYfPcvVxHzVzn5REgzbawhxAuQGwX1XWe70vji+VSeHOThJ" crossorigin="anonymous"></script>

    {{!-- Inyectar CSS y Titulo de la vista que corresponda --}}
    {{#block "head"}}{{/block}}
</head>

<body>
    <header class="admin-header">
        <div class="header-logo">
            <img src="/images/metamapa.jpeg" class="logo" alt="MetaMapa">
            <span class="logo-text"> MetaMapa </span>
        </div>
        <nav class="admin-nav">
            <ul class="nav-links">
                <li> <a href="/admin"> Dashboard </a></li>
                <li> <a href="/admin/colecciones"> Colecciones </a></li>
                <li> <a href="/admin/hechos/importacion"> Importar Hechos </a></li>
                <li> <a href="/admin/solicitudes"> Solicitudes de Eliminacion </a></li>
            </ul>
        </nav>
        <form action="/logout" method="get">
            <button type="submit" class="btn-logout">Cerrar Sesion</button>
        </form>
    </header>
    <main>
        {{#block "breadcrumb"}}{{/block}}
        {{#block "contenido-main"}}{{/block}}
    </main>
</body>
</html>
